.header {
    height: 120px;
    border-bottom: 5px solid #333333;
    margin-bottom: 20px;
  }
.card{
    text-align: center;
    padding: 20px;
    margin-top: 0;
    position: relative; 
    margin-top: 80px;
}
.types{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.pokemonInfo {
    text-align: center;
    padding: 20px;
    margin-top: 0;
    position: relative; 
    margin-top: 80px;
  }
.name{
    font-size: 36px;
    color: #333;
    margin-top: 80px;
    margin-bottom: 10px;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.type {
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}