.background{
    margin: 0;
    padding: 0;
    background-image: url("C:\PI\pi-pokemon\client\src\assets\pokemonsBack.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeball{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    position: relative;
    transition: transform 0.2s ease-in-out;
}
.pokeball:hover{
    transform: scale(1.1);
}
