.background{
    margin: 0;
    padding: 0;
    background-image: url("C:\PI\pi-pokemon\client\src\assets\pokemonsBack.jpg"); 
    height: 100vh;
    background-position: center;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pokeballContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pokeball{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}
