.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: darksalmon;
    border-bottom: 5px solid violet;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
.logo{
    width: 50px;
    margin-left: 3%;
}
.containerLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.link{
    color: black;
    font-size: 1.5rem;
    margin: 0 20px;
    text-decoration: none;
}
.link:hover{
    background: #ff88d7;
    box-shadow: 0 0 10px #ff88d7, 0 0 40px #ff88d7, 0 0 80px #ff88d7;
}